.facilityIconsContainer {
  display: flex;
}

.facilityIcon {
  height: 25px;
  width: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.facilityIconBicycle {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Polkupyora.png");
}

.facilityIconBicycleSecureSpace {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Pyorateline_rengasteline runkolukituksella.png");
}

.facilityIconCar {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Auto.png");
}

.facilityIconDisabled {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Pyoratuoli.png");
}

.facilityIconElectricCar {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Sahkoauto latauspiste.png");
}

.facilityIconMotorcycle {
  composes: facilityIcon;
  background-image: url("../../resources/assets/img/Moottoripyorailija.png");
}
