* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin: 0 0 0 0;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.h3-first {
  margin-top: 0;
}
h3 {
  font-size: 30px;
  line-height: 1em;
  color: #007ac9;
  border-bottom: 3px solid #007ac9;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  line-height: 1em;
  color: #007ac9;
}

h4 {
  font-size: 20px;
  line-height: 1em;
  color: #007ac9;
  margin-top: 20px;
}
