@media (min-width: 992px) {
  .navi-col {
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .navi-col {
    padding-left: 0px;
  }
}

.navi-col {
  padding-left: 20px;
}
.col-xs-8,
.navi-col {
  width: 66.6666666667%;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.logout,
.col-xs-5,
.col-xs-6,
.secondary-navi-column,
.col-xs-7,
.col-xs-8,
.navi-col,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.column2,
.column3 {
  float: left;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.logout,
.col-sm-4,
.column3,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.secondary-navi-column,
.col-sm-6,
.column2,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.navi-col,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.column2,
.column3,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .nav-tabs {
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .nav-tabs {
    margin-top: 16px;
  }
}
.nav-tabs {
  height: 40px;
  border-radius: 15px 15px 0 0;
  border-bottom: 0px;
  margin-top: 10px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-tabs > li {
  margin-bottom: 0px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li > a {
  font-weight: bold;
  height: 40px;
  color: #fff;
  background-color: #007ac9;
  border-radius: 15px 15px 0 0;
  border: 0;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  cursor: pointer;
}
a {
  color: #007ac9;
}
a {
  color: #428bca;
  text-decoration: none;
}
a {
  background: transparent;
}

.nav-tabs a.active,
.nav-tabs a.active:hover,
.nav-tabs a.active:focus {
  cursor: default;
  border: 0;
  background-color: #bee4f8;
  text-decoration: none;
  color: #555;
}

.page-header {
  border: 0;
  padding-top: 40px;
  padding-bottom: 0px;
  margin: 0px 0px 0px;
}

.modal-body {
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}

.modal-header {
  padding: 15px;
  border: 0;
}

.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

.leaflet-container {
  height: 400px;
}

.pull-right .link-btn {
  padding: 1px 7px !important;
}
