.validation-error {
  border: 2px solid #dc0451 !important;
  border-radius: 4px;
  border-width: 1px;
}
.modal-dialog {
  top: 70px;
}

.css-26l3qy-menu {
  position: fixed !important;
  top: auto !important;
  margin-top: 0px;
  position: fixed;
  width: auto !important;
}
